h3,
h1,
h2,
h4,
span,
p {
  color: white;
}

h1 {
  font-family: 'Revalia', cursive;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  /* font-weight: 300; */
  font-size: 0.88rem;
}

/* .page-header {
  font-weight: 200;
} */

h4 {
  margin: 0;
}

.year-rating-min {
  font-size: 0.8rem;
  font-weight: 300;
}

i {
  color: rgb(255, 165, 2);
}

.background-black {
  background-color: black;
}

.fa-tv {
  color : black;
}

.logo-button {
  background-color: rgb(245, 197, 24);
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  font-family: 'Revalia', cursive;
}

.search-input {
  width: 100%;
  padding: 1rem;
}

.search-input:focus {
  outline: none;
  border-color: rgb(245, 197, 24);
}

.search-button {
  width: 1rem;
}

.info-button {
  background-color: rgb(245, 197, 24);
  border : none;
  border-radius: 3px;
  width: 65px;
  padding: 0.3rem;
}

button:hover {
  cursor: pointer;
}

.yellow-square {
  width: 0.5rem;
  height: 45px;
  background-color: rgb(245, 197, 24);
}

.yellow-square-horizontal {
  width: 30px;
  height: 0.5rem;
  background-color: rgb(245, 197, 24);
}
}

/* .search-results-text {
  font-weight: 300;
  font-size: 0.88rem;
} */

/* .search-result-name {
  font-size: 0.88rem;
} */

.search-result-card {
  padding-bottom: 1rem;
}

.back-button {
  background-color: rgb(245, 197, 24);
  border: none;
  width: 75px;
  height: 30px;
  border-radius: 3px;
}

.search-result-poster {
  width: 100px;
}

.info-page-poster {
  width: 100px;
}

.search-result-overview {
  color: white;
  font-style: italic;
  font-size: 0.8rem;
}

.border-bottom-white {
  border-bottom: 1px solid white;
}

.genre-section {
  font-size: 0.8rem;
  font-style: italic;
}

.overview {
  font-size: 0.9rem;
}

.profile-pic {
  width: 40px;
  border-radius: 25px;
}

.real-name,
.character-name {
  font-size: 0.6rem;
}

.character-name {
  color: #b8b8b8;
}

.director,
.release-date,
.distributor {
  color: #5899EE;
}

.cast-card {
  display: flex;
}

li {
  list-style: none;
}

ul {
  padding-inline-start: 0;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  .container {
    width: 80%;
  }

  .text-align-center {
    text-align: start;
  }

  .search-result-card {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .search-result-poster {
    width: 170px;
    margin-right: 3rem;
  }

  .search-result-name {
    font-size: 1.7rem;
  }

  .search-result-overview {
    font-size: 1rem;
  }


  .info-page-poster {
    width: 250px;
  }

  .mobile-row {
    display: flex;
  }

  .info-page-title {
    font-size: 2rem;
  }

  .year-rating-min,
  .genre-section,
  .overview {
    font-size: 1rem;
  }

  .profile-pic {
    width: 100px;
    border-radius: 50px;
  }

  .real-name,
  .character-name {
    font-size: 0.8rem;
  }

  .page-header {
    font-size: 1rem;
  }

  .column-50 {
    width: 50%;
  }

  .mobile-justify-space-between {
    justify-content: space-between;
  }

  .cast-card {
    display: block;
  }

  .mobile-align-center {
    align-items: center;
  }
}
