h1 {
font-family: 'Revalia', cursive;
color: white;
font-size: 1.5rem;
}

.background-black {
background-color: black;
}

.logo-button {
background-color: rgb(245, 197, 24);
padding: 0.5rem;
border-radius: 3px;
border: none;
font-family: 'Revalia', cursive;
}

.search-button {
width: 17rem;
padding: 1rem;
}

.fa-tv {
color : black
}

button,
i:hover {
cursor: pointer;
}
